<div class="container">
  <h1>Plants</h1>
  <div class="plant-list">
    <% @plants.each do |p| %>
      <div class="card">
        <p class="card-text">
          <%= p.name %>
          <%= link_to icon("fas", "info-circle"), plant_path(p) %>
          <%= link_to icon("fas", "trash-alt"), plant_path(p), method: :delete %>
        </p>
      </div>
    <% end %>
  </div>
  <%= link_to "new plant", new_plant_path %>
</div>


